@font-face {
  font-family: "open-sans";
  src: url("/Fonts/open-sans/OpenSans-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "open-sans";
}

::-webkit-scrollbar {
  display: none;
}

.header {
  margin: auto;
  height: 20%;
  width: 80%;
}
.header .upper-header {
  height: 50%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header .upper-header .nav-menu i {
  font-size: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 1.2rem;
  border: 2px solid black;
}
.header .upper-header .nav-logo h1 {
  font-family: "open-sans";
  font-size: 1.5rem;
}
.header .upper-header .left-UpperNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
}
.header .upper-header .left-UpperNav i {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid black;
}
.header .lower-header {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header .lower-header .category {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.1rem;
}
.header .lower-header .category .cate1 {
  height: 100%;
  width: 100%;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.5rem;
  gap: 2rem;
  border: 2px solid black;
}
.header .lower-header .category .cate1 p {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "open-sans";
  font-size: 0.8rem;
}
.header .lower-header .category .cate1 i {
  font-size: 1rem;
}
.header .lower-header .category .cate1:hover {
  transition: all 0.5s ease-in-out;
  color: rgb(4, 35, 36);
  cursor: pointer;
  background-color: #e0dbd7;
}
.header .lower-header .gender {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0.1rem;
}
.header .lower-header .gender p {
  font-weight: 600;
  font-family: "open-sans";
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  border-radius: 1.5rem;
  border: 2px solid black;
}
.header .lower-header .gender p:hover {
  color: rgb(4, 35, 36);
  text-decoration: underline;
  background-color: #e0dbd7;
  cursor: pointer;
}

@font-face {
  font-family: "daggersquare";
  src: url("/Fonts/daggersquare/Daggersquare.otf");
}
.hero-section {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.hero-section .upper-hero {
  height: 80%;
  width: 100%;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}
.hero-section .upper-hero h2 {
  font-family: "open-sans";
  font-size: 2rem;
  align-self: end;
}
.hero-section .upper-hero h1 {
  margin-top: -2rem;
  font-family: "daggersquare";
  font-size: 12rem;
  font-weight: lighter;
}
.hero-section .upper-hero h1::-moz-selection {
  color: rgb(61, 137, 140);
}
.hero-section .upper-hero h1::selection {
  color: rgb(61, 137, 140);
}
.hero-section .upper-hero .heroimg {
  position: absolute;
  top: 24%;
  left: -10%;
  height: 80%;
  width: 120%;
}
.hero-section .upper-hero .heroimg img {
  position: absolute;
  z-index: 2;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.hero-section .upper-hero .box {
  height: 60%;
  width: 80%;
  background-color: #e0dbd7;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 1;
}
.hero-section .lower-hero {
  height: 20%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.hero-section .lower-hero h2 {
  font-size: 1.5rem;
  font-family: "open-sans";
  font-weight: 900;
}
.hero-section .lower-hero h2:hover {
  color: rgb(4, 35, 36);
  text-decoration: underline;
  cursor: pointer;
}

.marquee-section {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.marquee-section marquee {
  font-size: 1.2rem;
  font-family: "open-sans";
  scroll-behavior: smooth;
}

.Collections {
  margin: auto;
  margin-bottom: 1rem;
  height: 150%;
  width: 80%;
}
.Collections .upper_image {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  margin: auto;
}
.Collections .upper_image .card:nth-child(1) {
  height: 100%;
  width: 30%;
  position: relative;
  background-image: url("https://plus.unsplash.com/premium_photo-1671656349322-41de944d259b?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  overflow: hidden;
}
.Collections .upper_image .card:nth-child(1) .bottom {
  position: absolute;
  bottom: -50%;
  height: 50%;
  width: 100%;
  background-image: linear-gradient(transparent, black);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Collections .upper_image .card:nth-child(1) .bottom h3 {
  text-align: center;
  width: 60%;
  font-family: "open-sans";
  color: white;
}
.Collections .upper_image .card:nth-child(1) .bottom button {
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-family: "open-sans";
  border: 1px solid white;
  color: white;
}
.Collections .upper_image .card:nth-child(1) .bottom button:hover {
  color: black;
  background: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.Collections .upper_image .card:nth-child(1):hover .bottom {
  transition: all 0.3s ease-in-out;
  bottom: 0;
  cursor: pointer;
}
.Collections .upper_image .card:nth-child(2) {
  height: 100%;
  width: 25%;
  background-image: url("https://images.unsplash.com/photo-1653704841996-c2ed854aedd8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.Collections .upper_image .card:nth-child(2) .bottom {
  position: absolute;
  bottom: -50%;
  height: 50%;
  width: 100%;
  background-image: linear-gradient(transparent, black);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Collections .upper_image .card:nth-child(2) .bottom h3 {
  text-align: center;
  width: 80%;
  font-family: "open-sans";
  color: white;
}
.Collections .upper_image .card:nth-child(2) .bottom button {
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-family: "open-sans";
  border: 1px solid white;
  color: white;
}
.Collections .upper_image .card:nth-child(2) .bottom button:hover {
  color: black;
  background: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.Collections .upper_image .card:nth-child(2):hover .bottom {
  transition: all 0.3s ease-in-out;
  bottom: 0;
  cursor: pointer;
}
.Collections .upper_image .card:nth-child(3) {
  height: 100%;
  width: 25%;
  background-image: url("https://images.unsplash.com/photo-1584917865442-de89df76afd3?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.Collections .upper_image .card:nth-child(3) .bottom {
  position: absolute;
  bottom: -50%;
  height: 50%;
  width: 100%;
  background-image: linear-gradient(transparent, black);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Collections .upper_image .card:nth-child(3) .bottom h3 {
  text-align: center;
  width: 80%;
  font-family: "open-sans";
  color: white;
}
.Collections .upper_image .card:nth-child(3) .bottom button {
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-family: "open-sans";
  border: 1px solid white;
  color: white;
}
.Collections .upper_image .card:nth-child(3) .bottom button:hover {
  color: black;
  background: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.Collections .upper_image .card:nth-child(3):hover .bottom {
  transition: all 0.3s ease-in-out;
  bottom: 0;
  cursor: pointer;
}
.Collections .heading {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Collections .heading h1 {
  font-size: 6rem;
  font-family: "daggersquare";
  font-weight: 200;
}
.Collections .heading p {
  width: 60%;
}
.Collections .para {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Collections .para p {
  padding: 1rem;
  width: 60%;
  text-align: center;
}
.Collections .buttons {
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Collections .buttons button {
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  border: 1.5px solid black;
  font-weight: 600;
  background-color: transparent;
}
.Collections .buttons button:hover {
  background-color: rgba(128, 128, 128, 0.341);
  cursor: pointer;
}

.slider {
  height: 70%;
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  overflow: scroll;
}
.slider .box1 .upper {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.slider .box1 .upper button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 2px solid black;
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
}
.slider .box1 .upper button:hover {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}
.slider .box1 .upper .two {
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid black;
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
}
.slider .box1 .upper .two:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.slider .box1:nth-child(1) {
  flex-shrink: 0;
  height: 100%;
  width: 25%;
  background-image: url("https://images.unsplash.com/photo-1647771746277-eac927afab2c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.slider .box1:nth-child(2) {
  flex-shrink: 0;
  height: 100%;
  width: 25%;
  background-image: url("https://images.unsplash.com/photo-1738486260590-23c954cf29b8?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.slider .box1:nth-child(2) .upper button {
  color: white;
  border-color: white;
}
.slider .box1:nth-child(2) .upper button:hover {
  background-color: white;
  color: black;
}
.slider .box1:nth-child(3) {
  flex-shrink: 0;
  height: 100%;
  width: 25%;
  background-image: url("https://images.unsplash.com/photo-1615405985062-1a7425cd41d6?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.slider .box1:nth-child(3) .upper button {
  color: white;
  border-color: white;
}
.slider .box1:nth-child(3) .upper button:hover {
  background-color: white;
  color: black;
}
.slider .box1:nth-child(4) {
  flex-shrink: 0;
  height: 100%;
  width: 25%;
  background-image: url("https://images.unsplash.com/photo-1651489041505-e40d2d9e0979?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.slider .box1:nth-child(4) .upper button {
  color: white;
  border-color: white;
}
.slider .box1:nth-child(4) .upper button:hover {
  background-color: white;
  color: black;
}
.slider .box1:nth-child(5) {
  flex-shrink: 0;
  height: 100%;
  width: 25%;
  background-image: url("https://plus.unsplash.com/premium_photo-1727967194660-86ef1d6bb82b?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.slider .box1:nth-child(6) {
  flex-shrink: 0;
  height: 100%;
  width: 25%;
  background-image: url("https://plus.unsplash.com/premium_photo-1727967192808-7024064aa628?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

@font-face {
  font-family: "metropolis";
  src: url("/Fonts/metropolis/Metropolis-Light.otf");
}
.winter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.winter .container {
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 3rem;
}
.winter .box1 {
  grid-row: 1/3;
  grid-column: 1, 2;
  background-image: url("https://plus.unsplash.com/premium_photo-1697183203012-49b8076b049d?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.winter .box2 {
  grid-row: 1/3;
  grid-column: 2, 3;
  background-image: url("https://plus.unsplash.com/premium_photo-1694618623690-db4ed5c37a2f?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.winter .box3 {
  grid-row: 3/4;
  grid-column: 1, 2;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.winter .box3 h1 {
  font-size: 6rem;
  font-weight: 300;
  font-family: "daggersquare";
}
.winter .box3 .left {
  height: 90%;
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.winter .box3 .left h3 {
  font-family: "metropolis";
}
.winter .box3 .left p {
  width: 80%;
  line-height: 1.1;
  font-family: "metropolis";
}
.winter .box4 {
  grid-row: 3/4;
  grid-column: 2, 3;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.winter .box4 h1 {
  font-size: 6rem;
  font-weight: 300;
  font-family: "daggersquare";
}
.winter .box4 .left {
  height: 90%;
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.winter .box4 .left h3 {
  font-family: "metropolis";
}
.winter .box4 .left p {
  width: 80%;
  line-height: 1.1;
  font-family: "metropolis";
}

.Third-Last {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Third-Last .container {
  height: 100%;
  width: 80%;
  margin-bottom: 2rem;
}
.Third-Last .container .upper {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Third-Last .container .upper h1 {
  font-size: 6rem;
  font-family: "daggersquare";
  font-weight: 500;
}
.Third-Last .container .lower {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.Third-Last .container .lower .box1 {
  background-image: url("https://images.unsplash.com/photo-1667838709168-68d881848d88?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  grid-row: 1/4;
  grid-column: 1/3;
}
.Third-Last .container .lower .box2 {
  background-image: url("https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?q=80&w=1025&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  grid-row: 1/3;
  grid-column: 3/5;
}
.Third-Last .container .lower .box3 {
  grid-row: 3/4;
  grid-column: 3/6;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Third-Last .container .lower .box3 p {
  font-family: "metropolis";
  font-weight: 400;
}
.Third-Last .container .lower .box3 button {
  padding: 1rem;
  font-size: 1rem;
  font-family: "daggersquare";
  border-radius: 2rem;
  background-color: transparent;
}
.Third-Last .container .lower .box3 button:hover {
  background-color: rgba(128, 128, 128, 0.208);
  transition: all 0.2s ease-in-out;
}

.second-last {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
.second-last .container {
  height: 80%;
  width: 80%;
  background-color: #ebe1d8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  position: relative;
}
.second-last .container h1 {
  font-size: 6rem;
  font-family: "daggersquare";
  font-weight: 500;
  text-align: center;
  width: 70%;
}
.second-last .container .box {
  height: 5%;
  width: 40%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 5%;
  z-index: 1;
}
.second-last .container .box h3 {
  font-size: 1rem;
}
.second-last .container .box:hover {
  cursor: pointer;
  background-color: rgba(154, 151, 151, 0.496);
  transition: all 0.2s ease-in-out;
  color: white;
}
.second-last img {
  position: absolute;
  height: 600px;
  top: -8%;
  aspect-ratio: 1/1.2;
}

.last {
  height: 80%;
  width: 100%;
  background-color: black;
}/*# sourceMappingURL=style.css.map */